
<main>
    <h1>Your Dumb Opinions</h1>
    <h2>Philosophy</h2>
    <p>You know what they say... opinions are like a****les, everyone's got one and they all stink. Here at Your Dumb Opinions, we acknowledge this reality and thus provide a space for anyone to post their deeply held opinions no matter how dumb or misinformed they might be. We believe that simply recognizing that everyone gets to have an opinion is a step toward making the world a better place.</p>
    <hr />
    <h2>Our Hero</h2>
    <p>One of the most succinct summations of our philosophy was expressed in the classic film The Big Lebowski by the hero The Dude when he said the immortal line "Yeah, well, you know, that's just like, your opinion, man." Although the illustrious Dude was just referring to one specific instance, we believe that by repeating this mantra, it is easier to put life in perspective and respect the opinions of others. Maybe your coworker says they like pineapple on a pizza, but the very thought of that makes you want to vomit. Well, that's just like their opinion, man. Who are you to judge? You may disagree with them, perhaps passionately, but if you take a moment to say the wise words of the Dude, perhaps you will find this world is big enough for disagreements.</p>
    <hr />
    <h2>Site Navigation</h2>
    <p>You can look at the list of topics, which displays the current categories that you can submit an opinion about on this site. Each topic will have a link to all of the posts currently submitted for that topic. Or you can look at all the posts we have on the "All Posts" page. Click "Submit a New Post" to throw out your own dumb opinion. No judgments, just pointless discussion.</p>
    <hr />
    <h2>Premium Membership</h2>
    <p>For the low price of 1 DogeCoin you can be a premium member at Your Dumb Opinions. You don't even really have to pay it, since it's basically worthless, and the premium membership is also worthless, just like your opinion, man.</p>
    <hr />
    <p><a href="/Category/">List of Topics</a></p>
    <hr />
    <p><a href="/Content/">All Posts</a></p>
    <hr />
    <p><a href="/Content/Create/">Submit New Post</a></p>
</main>