
<main>
    <h1>Your Dumb Opinions</h1>
    <p><a href="/Category/">List of Discussion Topics</a></p>
    <p><a href="/Content/">All Posts</a></p>
    <p><a href="/Content/Create/">Submit New Post</a></p>
</main>