@model blog_template_practice.Models.Comment
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<main>
    <h2>New Comment</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <input asp-for="Body" class="form-control" />
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="PostDate" class="control-label"></label>
                        <input asp-for="PostDate" class="form-control" />
                        <span asp-validation-for="PostDate" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <select asp-for="ContentId" class ="form-control" asp-items="@(new SelectList(ViewBag.ContentId, "Id", "Title"))"></select>
                    </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="Button" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <p><a href="/Home/">Home</a></p>
    </div>
</main>



