*{
    color:saddlebrown;
    font-family:Trebuchet MS, Helvetica, sans-serif;
    line-height:1.618em;
    text-shadow:1px 0px #333;
}﻿

body{}

body{
    background-color:darkgray;
}

a{
    text-decoration:none;
    color:deeppink;
}

a:hover{
    color:darkblue;
}

main{
    max-width:50%;
    margin:auto;
    background-color:aqua;
    padding:1em 2em;
    border-radius:15px;
}

hr{
    opacity:0;
    height:1px;
    border:none;
}

textarea{
    resize:none;
}

.form-group{
    display:grid;
    max-width:60%;
    margin:auto;
}

#topicDropDown{
    max-width:70%;
}

.Button{
    max-width:6em;
}

h2{
    text-align:center;
}

.PostTitle{
    font-size:18px;
}

.EntirePost{
    background-color: darkgrey;
    padding: 1em 2em;
    border-radius: 15px;
}

.Comment{
    background-color:darkgrey;
    padding: 1em 2em 1em 4em;
    border-radius: 15px;
}

.ByLine{
    color:maroon;
}

.DeleteForm {
    background-color:darkgrey;
    padding: 1em 2em;
    border-radius:15px;
    max-width:60%;
    margin:auto;
}

dt{
    padding-bottom:2px;
}