@model IEnumerable<blog_template_practice.Models.Category>

<main>
    <h1>Topics</h1>
    @foreach (var item in Model)
    {
        <p><a href="/Category/Details/@item.Id">@item.Name</a></p>
        <p>@item.Description</p>
    }

    <p><a href="/Content/Create/">Submit Post</a></p>
    <p><a href="/Home/">Home</a></p>
</main>
