@model IEnumerable<blog_template_practice.Models.Category>

    <main>
        <h1>Discussion Topics</h1>
        @foreach (var item in Model)
        {
            <p>@item.Id. <a href="/Category/Details/@item.Id">@item.Name</a></p>
            
        }

        <p><a href="/Content/Create/">Submit Post</a></p>
    </main>
