@model IEnumerable<blog_template_practice.Models.Content>

<main>
    <h1 id="alltop">All Your Dumb Opinions</h1>

    @foreach (var item in Model)
    {
        <div class="EntirePost">
            <p class="PostTitle">@item.Title</p>
            <p class="PostBody">@item.Body</p>
            <p class="ByLine">By: @item.Author, on @item.PostDate</p>
            <p><a href="/Content/Update/@item.Id">Edit Post</a> | <a href="/Content/Delete/@item.Id">Delete Post</a></p>
        </div>
        <hr />
    }
    <p><a href="/Category/">List of Topics</a></p>
    <p><a href="/Home/">Home</a></p>
    <p><a href="#alltop">Back to Top</a></p>
</main>